<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 <title>TPC - Gerentes</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../img/favicon.png" rel="icon">
  <link href="../../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/../owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.2.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    

      	 <!-- NAV-MENU!!!!! --> <div th:insert="fragments/nav_menu :: nav_menu">  </div>


  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
	
        <div class="d-flex justify-content-between align-items-center">
          <h2>Administrar Gerentes</h2>
          <ol>
            <li><a th:href="@{/home}">Home</a></li>
          </ol>
        </div>
        <input type="image" src="../../img/icons/anadir.png"  title="Agregar Gerente" data-toggle="modal" data-target="#exampleModalCenter"/>			

        <br><br><br>
        
        
					
        <table class="table"   >
			<thead>
				<tr >
					<th>ID </th>
					<th>Nombre </th>
					<th>Apellido</th>
					<th>Fecha Nacimiento</th>
					<th>Dni</th>
					<th>Hora Ingreso</th>
					<th>Jornada </th>
					<th>Plus Sueldo</th>
					<th>Fecha de Ascenso</th>
					<th>Baja</th>	
					<th></th>
					<th></th>				
				</tr>
			</thead>
			<tbody>				
			
				<tr th:each="gerente: ${gerentes}">
					<form th:action="@{/gerente/modificar/{id}(id=${gerente.idPersona})}" method="post" role="form" >
						<td><span th:text=${gerente.idPersona}/></td>
						<td><span th:text=${gerente.nombre}/></td>
						<td><span th:text=${gerente.apellido}/></td>
						<td><span th:text=${gerente.fechaNacimiento}/></td>
						<td><span th:text=${gerente.dni}/></td>
						<td><span th:text=${gerente.horaIngreso}/></td>
						<td><span th:text=${gerente.horasXjornada}/></td>
						<td><span th:text=${gerente.plusSueldo}/></td>
						<td><span th:text=${gerente.fechaAscenso}/></td>
						<td><span th:text=${gerente.baja}/></td>
						<td>
							<input type="image" src="../../img/icons/lapiz.png"  title="Modificar" />						
						</td>
					</form>
						<td>
							<form th:action="@{/gerente/eliminar/{id}(id=${gerente.idPersona})}" method="post" role="form" >
								<input type="image" src="../../img/icons/basura.png"  title="Eliminar" />
							</form>
						</td>			
				</tr>
			</tbody>
		</table>    
		  
	 <br><br><br>
		
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar un nuevo Gerente</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	           	 
			    <div class="row" data-aos="fade-in">      
			<form th:action="@{/gerente/agregar}" th:object="${gerente}" method="post" role="form" id="form1"  onsubmit="return validarForm();" >
	       		<div class="form-row" >              
					<div class="form-group col-md-6">
					  <label for="name">Nombre</label>
					  <input type="text" th:field="*{nombre}" class="form-control"  />
					  <div class="validate"></div>
					</div>
					<div class="form-group col-md-6">
					  <label for="name">Apellido</label>
					  <input type="text"  th:field="*{apellido}" class="form-control"   />
					  <div class="validate"></div>
					</div>
					<div class="form-group col-md-6">
					  <label for="name">Fecha de Nacimiento</label>				 
					  <input type=date  th:field="*{fechaNacimiento}" class="form-control" id="fnac"/>
					  <div class="validate"></div>
					</div>
					<div class="form-group col-md-6">
					  <label for="name">DNI</label>
					  <input type="number"  th:field="*{dni}" class="form-control"  id="dni"  />
					  <div class="validate"></div>
					</div> 
					<div class="form-group col-md-6">
					  <label for="name">HoraIngreso</label>
					  <input type=time  th:field="*{horaIngreso}" class="form-control" id="horaing" />
					  <div class="validate"></div>
					</div>
					<div class="form-group col-md-6">
					  <label for="name">Jornada</label>
					  <input type="time"  th:field="*{horasXjornada}" class="form-control"  id="horajor" />
					  <div class="validate"></div>
					</div>
					 <div class="form-group col-md-6">
					  <label for="name">Plus Sueldo</label>
					  <input type=number  th:field="*{plusSueldo}" class="form-control" id="pSueldo"  />
					  <div class="validate"></div>
					</div>
					 <div class="form-group col-md-6">
					  <label for="name">Fecha Ascenso</label>
					  <input type=date  th:field="*{fechaAscenso}" class="form-control" id="fasc"/>
					  <div class="validate"></div>
					</div>		                                     
				</div> 
				
				 <div id="div-mensaje" ></div>
				<div class="modal-footer">
					<input type="image" src="../../img/icons/confirma.png"  title="Confirmar" />
			        
			      </div>     
              	    
			</form>	
		     
		
			</div>
			
		         
	      </div>
	
	
	    </div>
	  </div>
	</div>
	
	
	
</section><!-- End Breadcrumbs -->
	<!-- ======= Portfolio Details Section ======= -->
			
			<div th:insert="fragments/info :: info" />  	
			
			<!-- End Portfolio Details Section -->
		</main>
		<!-- End #main -->
		<!-- ======= Footer ======= -->
		<div th:insert="fragments/footer :: footer" />  
		
	
		<!-- End  Footer -->
		
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../vendor/counterup/counterup.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../vendor/typed.js/typed.min.js"></script>
  <script src="../vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>
	
	<script>
		function validarForm(){			
			
			$("#nombre").css("background-color", "#ffffff");
			$("#apellido").css("background-color", "#ffffff");
			$("#fnac").css("background-color", "#ffffff");
			$("#dni").css("background-color", "#ffffff");
			$("#horaing").css("background-color", "#ffffff");
			$("#horajor").css("background-color", "#ffffff");
			$("#pSueldo").css("background-color", "#ffffff");			
			$("#fasc").css("background-color", "#ffffff");
						
			
			var nombre 	= $("#nombre").val();
			var apellido= $("#apellido").val();
			var fnac 	= document.getElementById("fnac").value;
			var dni 	= new Number($("#dni").val());
			var horaing = document.getElementById("horaing").value;
			var horajor = document.getElementById("horajor").value;
			var pSueldo =  new Number($("#pSueldo").val());
			var fasc 	= document.getElementById("fasc").value;			
			var val		= "S"
			
		
			
			if (nombre == ""){
				$("#nombre").css("background-color", "#FEDBDB");
				val = "N"				
			}
			if (apellido == ""){				
				val = "N"
				$("#apellido").css("background-color", "#FEDBDB");
			}
			if (fnac == ""){
				val = "N"
				$("#fnac").css("background-color", "#FEDBDB");
			}
			
			if (dni <= 0){
				val = "N"
				$("#dni").css("background-color", "#FEDBDB");
			}
			
			if (horaing == ""){
				$("#horaing").css("background-color", "#FEDBDB");
				val = "N"				
			}
			if (horajor == ""){				
				val = "N"
				$("#horajor").css("background-color", "#FEDBDB");
			} 
			
			if (pSueldo <= 0){
				val = "N"
				$("#pSueldo").css("background-color", "#FEDBDB");
			}
			
			if (fasc == ""){
				val = "N"
				$("#fasc").css("background-color", "#FEDBDB");
			}
			
			
			
			
			if (val == "S"){					
		     console.log(" valida form OK")
		     	return true;
		     } else{
		    	 $("#div-mensaje").html("<p style=\"color:red\">Complete los Campos</p>")
		       return false;
			}
		}	
	</script>
	
</body>

</html>