<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>TPC - Estado de Venta</title>
      <meta content="" name="descriptison">
      <meta content="" name="keywords">
      <!-- Favicons -->
      <link href="../../img/favicon.png" rel="icon">
      <link href="../../img/apple-touch-icon.png" rel="apple-touch-icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!-- Vendor CSS Files -->
      <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
      <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="../vendor/venobox/venobox.css" rel="stylesheet">
      <link href="../vendor/owl.carousel/../owl.carousel.min.css" rel="stylesheet">
      <link href="../vendor/aos/aos.css" rel="stylesheet">
      <!-- Template Main CSS File -->
      <link href="../css/style.css" rel="stylesheet">
      <!-- =======================================================
         * Template Name: iPortfolio - v1.2.1
         * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
         * Author: BootstrapMade.com
         * License: https://bootstrapmade.com/license/
         ======================================================== -->
   </head>
   <body>
      <!-- ======= Mobile nav toggle button ======= -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
      <!-- ======= Header ======= -->
      <header id="header">
         <!-- NAV-MENU!!!!! --> 
         <div th:insert="fragments/nav_menu :: nav_menu">  </div>
      </header>
      <!-- End Header -->
      <main id="main">
         <!-- ======= Breadcrumbs ======= -->
         <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
               <div class="d-flex justify-content-between align-items-center">
                  <h2>Administrar Estado de Venta</h2>
                  <ol>
                     <li><a th:href="@{/home}">Home</a></li>
                  </ol>
               </div>
               <input type="image" src="../../img/icons/anadir.png"  title="Agregar Estado" data-toggle="modal" data-target="#exampleModalCenter"/>	
               <br><br><br><br><br>
               <div id="div-select-cercana" class="row"></div>
               <table class="table" id="table">
                  <thead>
                     <tr >
                        <th>ID </th>
                        <th>Nombre</th>
                        <th>Descripción </th>
                        <th> </th>
                        <th> </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="estadoVenta: ${estados}">
                        <form th:action="@{/estadoVenta/modificar/{id}(id=${estadoVenta.idEstadoVenta})}" method="post" role="form">
                           <td><span th:text="${estadoVenta.idEstadoVenta}" /></td>
                           <td><span th:text="${estadoVenta.nombre}" /></td>
                           <td><span th:text="${estadoVenta.descripcion}" /></td>
                           <td><input type="image" src="../../img/icons/lapiz.png"  title="Modificar" /></td>
                        </form>
                        <td>
                           <form th:action="@{/estadoVenta/eliminar/{id}(id=${estadoVenta.idEstadoVenta})}" method="post" role="form" >
                              <input type="image" src="../../img/icons/basura.png"  title="Eliminar" />
						   </form>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <br><br><br>				 
               <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalCenterTitle">Agregar un nuevo Estado</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <form th:action="@{/estadoVenta/agregar}" th:object="${estadoVenta}" method="post" role="form"  onsubmit="return validarForm();">
                              <div class="form-row" ;>
                                 <div class="form-group col-md-6">
                                    <label for="name">Nombre</label>
                                    <input type="text" th:field="*{nombre}" class="form-control"  />
                                    <div class="validate"></div>
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="name">Descripción</label>
                                    <input type="text" th:field="*{descripcion}" class="form-control"  />
                                    <div class="validate"></div>
                                 </div>
                              </div>
                              <div id="div-mensaje" ></div>
                              <div class="modal-footer">
                                 <div class="text-left"><button type="submit" class="btn btn-primary" >Agregar</button></div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Modal -->
            </div>
         </section>
         
         <!-- End Breadcrumbs -->
         <!-- ======= Portfolio Details Section ======= -->
         <div th:insert="fragments/info :: info" />
         <!-- End Portfolio Details Section -->
      </main>
      <!-- End #main -->
      <!-- ======= Footer ======= -->
      <div th:insert="fragments/footer :: footer" />
      <!-- End  Footer -->
      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <!-- Vendor JS Files -->
      <script src="../vendor/jquery/jquery.min.js"></script>
      <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
      <script src="../vendor/php-email-form/validate.js"></script>
      <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
      <script src="../vendor/counterup/counterup.min.js"></script>
      <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="../vendor/venobox/venobox.min.js"></script>
      <!--   <script src="../vendor/owl.carousel/owl.carousel.min.js"></script> -->
      <script src="../vendor/typed.js/typed.min.js"></script>
      <script src="../vendor/aos/aos.js"></script>
      <!-- Template Main JS File -->
      <script src="../js/main.js"></script>
      <script>
         // POP UP ==============================================================================================
         
         // Se obtiene el Popup
         var modal = document.getElementById("popUpEstadoVentas");
         
         // Se obtiene el botón que lo abre
         var btn = document.getElementById("altaEstadoVentaPopUp");
         
         // Elemento <span> que cierra el Popup
         var span = document.getElementsByClassName("close")[0];
         
         // Cuando se hace click en el botón, se abre el Popup
         btn.onclick = function() {
           modal.style.display = "block";
         }
         
         // Cuando se hace click en <span> (x), se cierra el Popup
         span.onclick = function() {
           modal.style.display = "none";
         }
         
         // Cuando se hace click en cualquier espacio fuera del Popup, éste se cierra
         window.onclick = function(event) {
           if (event.target == modal) {
             modal.style.display = "none";
           }
         }
         
        
 		function validarForm(){
 			$("#nombre").css("background-color", "#ffffff");
 			$("#apellido").css("background-color", "#ffffff");
 			$("#fnac").css("background-color", "#ffffff");
 			$("#dni").css("background-color", "#ffffff");
 			
 			var nombre 	= $("#nombre").val();
 			var desc	= $("#descripcion").val(); 			
 			var val		= "S"	
 		
 			
 			if (nombre == ""){
 				$("#nombre").css("background-color", "#FEDBDB");
 				val = "N"				
 			}
 			if (desc == ""){				
 				val = "N"
 				$("#descripcion").css("background-color", "#FEDBDB");
 			} 
 				
 			
 			if (val == "S"){					
 		     console.log(" valida form OK")
 		     	return true;
 		     } else{
 		    	 $("#div-mensaje").html("<p style=\"color:red\">Complete los Campos</p>")
 		       return false;
 			}
 		}	
 	
         
      </script>
   </body>
</html>