<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 <title>TPC - Clientes</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../../../img/favicon.png" rel="icon">
  <link href="../../../../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../vendor/owl.carousel/../../owl.carousel.min.css" rel="stylesheet">
  <link href="../../vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.2.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
   


      	 <!-- NAV-MENU!!!!! --> <div th:insert="fragments/nav_menu1 :: nav_menu">  </div>


   
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
	
        <div class="d-flex justify-content-between align-items-center">
          <h2>Modificar Cliente</h2>
          <ol>
            <li><a th:href="@{/home}">Home</a></li>
          </ol>
        </div>        
       
		<form th:action="@{/cliente/agregar}" th:object="${cliente}" method="post" role="form"  onsubmit="return validarForm();">         
			 <input type="hidden" th:field="*{idCliente}" name="id" class="form-control"  />
			
              <div class="form-row" ;>              
                <div class="form-group col-md-6">
                  <label for="name">Nombre</label>
                  <input type="text" th:field="*{nombre}" name="nombre" class="form-control"  />
                  <div class="validate"></div>
                </div> 
                <br>
                <div class="form-group col-md-6">
                  <label for="name">Apellido</label>
                  <input type="text" th:field="*{apellido}" name="apellido" class="form-control"  />
                  <div class="validate"></div>
                </div>
                <br>
                <div class="form-group col-md-6">
                  <label for="name">Fecha de Nacimiento</label>
                  <input type="date" th:field="*{fechaNacimiento}" name="fechaNacimiento" class="form-control" id="fnac"/>
                  <div class="validate"></div>
                </div>
                <br>
                <div class="form-group col-md-6">
                  <label for="name">DNI</label>
                  <input type="number" th:field="*{dni}" name="dni" class="form-control" />
                  <div class="validate"></div>
                </div>
                <br>                                                 
              </div> 
              	<div id="div-mensaje" ></div>
              	 <div id="div-mensaje" ></div>
				<div class="modal-footer">
					<input type="image" src="../../img/icons/confirma.png"  title="Confirmar" />
			        
			      </div>     
              </form>	   
              </form>	
        

      </div>
     
      
      
    </section><!-- End Breadcrumbs -->

   	<!-- ======= Portfolio Details Section ======= -->
			
			<div th:insert="fragments/info :: info" />  	
			
			<!-- End Portfolio Details Section -->
		</main>
		<!-- End #main -->
		<!-- ======= Footer ======= -->
		<div th:insert="fragments/footer :: footer" />  
		
	
		<!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../../vendor/php-email-form/validate.js"></script>
  <script src="../../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../../vendor/counterup/counterup.min.js"></script>
  <script src="../../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../vendor/venobox/venobox.min.js"></script>
  <script src="../../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../../vendor/typed.js/typed.min.js"></script>
  <script src="../../vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../../js/main.js"></script>
	<script>
		function validarForm(){
			$("#nombre").css("background-color", "#ffffff");
			$("#apellido").css("background-color", "#ffffff");
			$("#fnac").css("background-color", "#ffffff");
			$("#dni").css("background-color", "#ffffff");
			
			var nombre 	= $("#nombre").val();
			var apellido= $("#apellido").val();
			var fnac 	= document.getElementById("fnac").value;
			var dni 	= new Number($("#dni").val());
			var val		= "S"
				
			
			if (nombre == ""){
				$("#nombre").css("background-color", "#FEDBDB");
				val = "N"				
			}
			if (apellido == ""){				
				val = "N"
				$("#apellido").css("background-color", "#FEDBDB");
			}
			if (fnac == ""){
				val = "N"
				$("#fnac").css("background-color", "#FEDBDB");
			}
			
			if (dni <= 0){
				val = "N"
				$("#dni").css("background-color", "#FEDBDB");
			}
			
			
			
			
			if (val == "S"){					
		     console.log(" valida form OK")
		     	return true;
		     } else{
		    	 $("#div-mensaje").html("<p style=\"color:red\">Complete los Campos</p>")
		       return false;
			}
		}	
	</script>
</body>

</html>