<section id="portfolio-details" class="portfolio-details" th:fragment="info">
	<div class="container"  >
		<div class="portfolio-details-container" >
						
			<div class="portfolio-info" style="float:right; position:fixed; bottom:0; right:0; clear:right">
				<h3>Project information</h3>
				<ul>
					<li><strong>Category</strong>: Trabajo Practico OO2</li>
					<li><strong>Client</strong>: UNLa</li>
					<li><strong>Project date</strong>: 20 Jun, 2020</li>
					<li><strong>Project URL</strong>: <a  href="https://github.com/alexanderleyes/Grupo-7-OO2-2020" target="_blank" >Repositorio GIT</a></li>
				</ul>
			</div>
					</div>
		
	</div>
</section>
		