<section id="portfolio-details" class="portfolio-details" th:fragment="info">
	<div class="container"  style="float:right; position:absolute; bottom:0; right:0; clear:right">
		<div class="portfolio-details-container">
						
			<div class="portfolio-info">
				<h3>Project information</h3>
				<ul>
					<li><strong>Category</strong>: Trabajo Practico OO2</li>
					<li><strong>Client</strong>: UNLa</li>
					<li><strong>Project date</strong>: 20 Jun, 2020</li>
					<li><strong>Project URL</strong>: <a  href="https://github.com/alexanderleyes/Grupo-7-OO2-2020" target="_blank" >Repositorio GIT</a></li>
				</ul>
			</div>
			
		</div>
<!-- 		<div class="portfolio-description"> -->
<!-- 			<h2>This is an example of portfolio detail</h2> -->
<!-- 			<p> -->
<!-- 				Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius. -->
<!-- 			</p> -->
<!-- 		</div> -->
	</div>
</section>
		