<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<div class="d-flex flex-column" th:fragment="nav_menu">
	<div class="profile">
        <img src="../../img/hero.jpg" alt="" class="img-fluid rounded-circle">       
       	<h1 class="text-light"><a href="index.html"><span sec:authentication="name" /></a></h1>
       	<div class="social-links mt-3 text-center">       	
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
		    
		  <li><a th:href="@{/logout}"> Cerrar Sesion </a></li>
      <nav class="nav-menu">
        <ul>
        <div sec:authorize="hasRole('VENDEDOR')">
        	<li><a th:href="@{/home}"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          	<li><a th:href="@{/cliente/cliente_idx}"><i class="bx bx-user"></i> <span>Clientes</span></a></li>         
          	<li><a th:href="@{/pedido/pedido_idx}"><i class="bx bx-package"></i> Pedidos </a></li>
          	<li><a th:href="@{/venta/venta_idx}"><i class="bx bx-barcode"></i> Ventas </a></li>          
        </div> 
        <div sec:authorize="hasRole('GERENTE')">
        	<li><a th:href="@{/home}"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          	<li><a th:href="@{/vendedor/vendedor_idx}"><i class="bx bx-user"></i> <span>Vendedores</span></a></li>
          	<li><a th:href="@{/cliente/cliente_idx}"><i class="bx bx-user"></i> <span>Clientes</span></a></li>          
          	<li><a th:href="@{/venta/venta_idx}"><i class="bx bx-barcode"></i> Ventas </a></li>          
          	<li><a th:href="@{/lote/lote_idx}"><i class="bx bx-server"></i> Lotes </a></li>        	
        </div> 
        <div sec:authorize="hasRole('ADMIN')">
        	<li><a th:href="@{/home}"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          	<li><a th:href="@{/vendedor/vendedor_idx}"><i class="bx bx-user"></i> <span>Vendedores</span></a></li>
          	<li><a th:href="@{/gerente/gerente_idx}"><i class="bx bx-user"></i> <span>Gerentes</span></a></li>
          	<li><a th:href="@{/cliente/cliente_idx}"><i class="bx bx-user"></i> <span>Clientes</span></a></li>          
          	<li><a th:href="@{/pedido/pedido_idx}"><i class="bx bx-package"></i> Pedidos </a></li>
          	<li><a th:href="@{/venta/venta_idx}"><i class="bx bx-barcode"></i> Ventas </a></li>          
          	<li><a th:href="@{/sucursal/sucursal_idx}"><i class="bx bx-buildings"></i> Sucursales</a></li>
          	<li><a th:href="@{/producto/producto_idx}"><i class="bx bx-store-alt"></i> Productos</a></li>
          	<li><a th:href="@{/lote/lote_idx}"><i class="bx bx-server"></i> Lotes </a></li>        	
        </div>  
        
         
        
         
          
          <!-- <li><a th:href="#MAIL"><i class="bx bx-envelope"></i> Clientes</a></li>-->


        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
</body>
</html>