<!DOCTYPE html>
<html lang="en">	
		<head>
			<meta charset="utf-8">
			<meta content="width=device-width, initial-scale=1.0" name="viewport">
			<title>TPC - Democratizacion de Stock</title>
			<meta content="" name="descriptison">
			<meta content="" name="keywords">
			<!-- Favicons -->
			<link href="../../img/favicon.png" rel="icon">
			<link href="../../img/apple-touch-icon.png" rel="apple-touch-icon">
			<!-- Google Fonts -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
			<!-- Vendor CSS Files -->
			<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
			<link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
			<link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
			<link href="../vendor/venobox/venobox.css" rel="stylesheet">
			<link href="../vendor/owl.carousel/../owl.carousel.min.css" rel="stylesheet">
			<link href="../vendor/aos/aos.css" rel="stylesheet">
			<!-- Template Main CSS File -->
			<link href="../css/style.css" rel="stylesheet">
			<!-- =======================================================
				* Template Name: iPortfolio - v1.2.1
				* Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
				* Author: BootstrapMade.com
				* License: https://bootstrapmade.com/license/
				======================================================== -->
		</head>
		<body>
			<!-- ======= Mobile nav toggle button ======= -->
			<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
			<!-- ======= Header ======= -->
			<header id="header">
				<!-- NAV-MENU!!!!! --> 
				<div th:insert="fragments/nav_menu :: nav_menu">  </div>
			</header>
			<!-- End Header -->
			<main id="main">
				<!-- ======= Breadcrumbs ======= -->
				<section id="breadcrumbs" class="breadcrumbs">
					<div class="container">
						<div class="d-flex justify-content-between align-items-center">
							<h2>Bienvenido</h2>
							<ol>
								<li><a th:href="@{/home}">Home</a></li>
								<li><a th:href="@{/parametro/parametro_idx}">Parametros</a></li>
								<div sec:authorize="hasAnyRole('GERENTE')">
								<li>&nbsp / <a th:href="@{/historicoComisiones/historicoComisiones_idx}">Historico de Comisiones</a> </li>
								</div>
							</ol>
						</div>
						<div sec:authorize="hasRole('VENDEDOR')">
							<h1>
								Sucursal <span th:text=${vendedor.sucursal.idSucursal}/> - <span th:text=${vendedor.sucursal.direccion}/>  		
							</h1>
							<br> <br> <br> <br> <br>
							<h3>
								Solicitudes pendientes de envío.		
							</h3>
							<table class="table" id="table">
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Sucursal Origen</th>
									<th scope="col">Vend Solicita</th>
									<th scope="col">Vend Despacha</th>
									<th scope="col">Producto</th>
									<th scope="col">Cantidad</th>
									<th scope="col"></th>
								</tr>
								<tbody>
									<tr th:each="pedido : ${pedidos}">
										<form th:action="@{/pedido/despachar/{id}(id=${pedido.idPedido})}" 	method="post" role="form">
											<td><span th:text="${pedido.idPedido}" /></td>
											<td><span th:text="${pedido.sucOrigen.direccion}" /></td>
											<td><span th:text="${pedido.vendedorSolicita.apellido}" /></td>
											<td><span th:if="${pedido.vendedorDespacha != null}" th:text="${pedido.vendedorDespacha.apellido}"/></td>
											<td><span th:text="${pedido.producto.descripcion}" /></td>
											<td><span th:text="${pedido.cantidad}" /></td>
											<td><input type="image" src="../../img/icons/despacha.png"  title="Despachar" /></td>
										</form>
									</tr>
								</tbody>
							</table>
							<br>	
						</div>
						<!-- ================================================================================================================== -->
							<div sec:authorize="hasRole('GERENTE')">
													
							<h1>
								Gerente de Sucursal <span th:text=${sucursal.idSucursal}/> - <span th:text=${sucursal.direccion}/>  		
							</h1>
							<br><br>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
								Ver reportes por Fecha
							</button> 
							
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cierreModal" onClick="cierreMes();">
								Cierre de Mes
							</button>
							
													
							<br>
							<div class="Charts">
								<h2 align="center">Productos mas vendidos</h2>
								<div id="barChart" style="width: 80%; height: 400px; margin: 0 auto"></div>
								<br>
								<div id="empChart" style="width: 80%; height: 400px; margin: 0 auto"></div>
							</div>
							
						</div>
						<!-- ================================================================================================================== -->
						<div sec:authorize="hasRole('ADMIN')">
							<h1>
								Admnistrador  		
							</h1>
							<h2>
								No estas asociado a ninguna sucursal   		
							</h2>
							<br> <br> 
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
								Ver reportes por Fecha
							</button>  
							
						</div>
						<br>
					</div>
				</section>
				<!-- End Breadcrumbs -->

			<!-- Modal -->
	<div sec:authorize="hasAnyRole('GERENTE', 'ADMIN')">
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		   <div class="modal-dialog modal-dialog-centered" role="document">
		      <div class="modal-content">
		         <div class="modal-header">
		            <h5 class="modal-title" id="exampleModalCenterTitle">Reportes por Fecha</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		            </button>
		         </div>
		       
	        	<div class="form-row" >	     
					<div class="form-group col-md-6">
						<label for="name">Desde</label>	
						<input type=date class="form-control" id="fecDesde"/>
						<div class="validate"></div>
					</div>
			
					<div class="form-group col-md-6">
						<label for="name">Hasta</label>
					 	<input type=date class="form-control" id="fecHasta"/>
						<div class="validate" ></div>
					</div>
					<div class="form-group col-md-6">
						<label for="name">Tipo</label>	
						<select class="form-control" name="name" id="tipo">
						  <option value="ventas">Ventas</option>
						  <option value="comisiones">Comisiones</option>						  
						</select>						
					</div>
					<div class="form-group col-md-6">
						<label for="name">Sucursal</label>		     
				   		<select class="form-control"  th:field="*{sucursal.idSucursal}" id="sucursal"><br>
				        	<option th:each="s : ${sucursales}"  th:value="${(s.idSucursal)}" th:text="${s.direccion}"/>		         	
				    	</select>
			     	</div> 
					<div class="form-group col-md-6">						
						<input type="image" src="../img/icons/confirma1.png"  title="Emitir reporte" onClick="verReporte();"/>	
					</div>					
				</div>									
				<div id="div-mensaje" ></div>
				<div id="div-reporteXfecha" ></div>
				</div>
			</div>
		</div>
	</div>
	
	<div sec:authorize="hasAnyRole('GERENTE', 'ADMIN')">
		<div class="modal fade" id="cierreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		   <div class="modal-dialog modal-dialog-centered" role="document">
		      <div class="modal-content">
		         <div class="modal-header">
		            <h5 class="modal-title" id="exampleModalCenterTitle">Cierre del Mes</h5>
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">&times;</span>
		            </button>
		         </div>
		       <div class="modal-body">
				      <div id="div-cierre" ></div>
				      </div>
				      <div class="modal-footer">
				       
				      </div>
	        									
				
				</div>
			</div>
		</div>
	</div>



			
			</main>
			<!-- End #main -->
			
			<div th:insert="fragments/info :: info" />  	
			<!-- ======= Footer ======= -->
			<div th:insert="fragments/footer :: footer" />  	
			
			<!-- End  Footer -->
			<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
			<!-- Vendor JS Files -->
			<script src="../vendor/jquery/jquery.min.js"></script>
			<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
			<script src="../vendor/php-email-form/validate.js"></script>
			<script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
			<script src="../vendor/counterup/counterup.min.js"></script>
			<script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
			<script src="../vendor/venobox/venobox.min.js"></script>
			<script src="../vendor/typed.js/typed.min.js"></script>
			<script src="../vendor/aos/aos.js"></script>
			<!-- Template Main JS File -->
			<script src="../js/main.js"></script>
			<!--  Scrpt para que anden los graficos -->
			<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			
			<div sec:authorize="hasRole('GERENTE')">
				<script th:inline="javascript">
					$(function(){
					Highcharts.chart('barChart', {
					    chart: {
					        type: 'column'
					    },
					    title: {
					        text: ''
					    },
					    subtitle: {
					        text: 'Mostrando  historicos'
					    },
					    xAxis: {
					        categories: [[${bar.keySet()}]],
					        crosshair: true
					    },
					    yAxis: {
					        min: 0,
					        max:50,
					        title: {
					            text: 'Unidades Vendidas'
					        }
					    },
					    tooltip: {
					        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
					        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
					        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
					        footerFormat: '</table>',
					        shared: true,
					        useHTML: true
					    },
					    plotOptions: {
					        column: {
					            pointPadding: 0.2,
					            borderWidth: 0
					        }
					    },
					    series: [{
					        name: 'Vendidos',
					        data: [[${bar.values()}]]
					    }]
					});
					});
					
					
					
					var chart = Highcharts.chart('empChart', {
	
					    title: {
					        text: 'Comisiones de Vendedores'
					    },
	
					    subtitle: {
					        text: ''
					    },
	
					    xAxis: {
					        categories: [[${prodChart.keySet()}]]
					    },
					    yAxis: {				       
					        title: {
					            text: 'Comisiones $'
					        }
					    },
					    chart: {
				            inverted: true,
				            polar: false
				        },
				        
					    series: [{
					        type: 'column',
					        name: '$ ',
					        colorByPoint: true,
					        data: [[${prodChart.values()}]],
					        showInLegend: false
					    }]
	
					});
	
					
				</script>
			</div>
			
			
			<script>
			
				function verReporte(){ // Visualiza el stock del producto solicitado
					
					var fecDesde =  $("#fecDesde").val();
		           	var fecHasta =  $("#fecHasta").val();
		           	var f		  = new Date();
		           	var fecHoy = f.getFullYear()
		           	
		           	if ((f.getMonth() +1) < 10){
		           		var fecHoy =  fecHoy+ "-0"+(f.getMonth() +1);
		           	}else{
		           		var fecHoy =  fecHoy+ "-"+(f.getMonth() +1);
		           	}
		           	
		        	if (f.getDate()  < 10){
		           		var fecHoy =  fecHoy + "-0" + f.getDate();
		           	}else{
		           		var fecHoy =  fecHoy + "-" + f.getDate();
		           	}
		           	
		           	
					var val		= "S"					
					
					$("#div-mensaje").html("")
					$("#div-reporteXfecha").html("");
					
					if (fecDesde >  fecHasta){	
						$("#div-mensaje").html("<p style=\"color:red\">Fecha Desde debe ser menor a Fecha Hasta</p>")
						val = "N"				
					}
					
					if (fecHasta > fecHoy){	
						$("#div-mensaje").html("<p style=\"color:red\">No puedes ver el futuro</p>")
						val = "N"				
					}
					
					if (val == "S"){					
				     console.log(" valida form OK")				     	
				     } else{
				       console.log("NO valida form")
				       return false;
					}		
					

		         	var tipo	 =  $("#tipo").val();
		           	var idSuc	 =  new Number($("#sucursal option:selected").val());
		           	
		           	
				          if (fecDesde != "" && fecHasta != ""){
				        	  console.log(fecDesde);
					           	console.log(fecHasta);
					         	console.log(tipo);
					         	console.log(idSuc);
				         
								$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
									method: "GET",
								 	url: "/producto/productosPorFecha/" + fecDesde + "/" + fecHasta+ "/" + tipo+ "/" + idSuc,
								})
								
								.done(function(result) {
									$("#div-reporteXfecha").html(result);
									
								})
								
								.fail(function() {
									alert("error");
								});
				          }
				  }
				
				function cierreMes(){ // Visualiza el stock del producto solicitado							
				
					
					var f		  = new Date();
		           	var fecHoy = f.getFullYear();
		           	
		           	if ((f.getMonth() +1) < 10){
		           		var fecHoy =  fecHoy+ "-0"+(f.getMonth() +1);
		           	}else{
		           		var fecHoy =  fecHoy+ "-"+(f.getMonth() +1);
		           	}
		           	
		        	if (f.getDate()  < 10){
		           		var fecHoy =  fecHoy + "-0" + f.getDate();
		           	}else{
		           		var fecHoy =  fecHoy + "-" + f.getDate();
		           	}		           	
		           						
				         
					$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
						method: "GET",
					 	url: "/historicoComisiones/cierreMes/" + fecHoy,
					})
					
					.done(function(result) {
						$("#div-cierre").html(result);
						
					})
					
					.fail(function() {
						alert("error");
					});
					
					
				}     			
				
				 
			</script>
			
		</body>
	</html>